# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
    tags:
      - '*'
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: PyInstaller Windows
      uses: JackMcKew/pyinstaller-action-windows@python3-10-pyinstaller-5-3
      with:
        path: src
    - uses: actions/upload-artifact@v3
      with:
        name: pyWiki Lite
        path: src/dist/windows

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install irc openai DateTime
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Version
      run: |
        chmod +x /home/runner/work/Pywiki-Lite/Pywiki-Lite/src/pywiki_lite.py 
        echo "name=version::$(/home/runner/work/Pywiki-Lite/Pywiki-Lite/src/pywiki_lite.py --version) >> $GITHUB_OUTPUT"
      id: version

    - name: Release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease: false
        release_name: ${{ steps.version.outputs.version }}
        tag_name: ${{ github.run_number }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Windows Artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: /home/runner/work/Pywiki-Lite/Pywiki-Lite/src/dist/windows/pyWiki Lite.exe
        asset_name: pyWiki Lite.exe
        asset_content_type: application/zip
